<h1>Random Beer</h1>
<img src="{{image_url}}" id="beer-image" alt="">
<h4>{{ name }}</h4>
<p>{{ tagline }}</p>
<p>{{ description }}</p>
<h5>Food Pairing</h5>
<p>{{food_pairing}}</p>
<p>Brewers Tips: {{ brewers_tips }} </p>
