<h1>Random Beer</h1>
<img src="{{image_url}}" alt="">
<ul>
    <li>{{ name }}</li>
    <li>{{ description }}</li>
    <li>{{ tagline }}</li>
    <li>{{ food_pairing }}</li>
    <li>{{ brewers_tips }}</li>
</ul>